#news {
  .news {
    padding: 100px 0;
      .head {
        .news-p {
          font-size: 40px;
          font-weight: 100;
        }
        .border-news {
          border-bottom: 2px solid black;
          width: 7%;
        }
      }
    .row {
      .col-10 {
        #search {
          outline: none;
        }
      }
    }
  }
}
