#service {
    padding: 100px 0;
  .service {
    .head {
      .our-p {
        font-size: 40px;
        font-weight: 100;
      }
      .border-our {
        border-bottom: 2px solid black;
        width: 5%;
      }
    }
  }
}
