#children{
    background-color: #F8F9FA;
    .container{
        .children{
            .head{
                .title-p{
                    font-size: 35px;
                    font-weight: 400;
                }
            }
        }
    }
}