#footer{
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .container{
        .footer{
            padding: 30px 0;
        }
    }
}